<link rel="stylesheet" href="/css/common.css">
<footer>
  <div class="footerWrap">
    <div class="foot_logo">
      <div class="foot_logo_txt"><img src="/img/logo_txt.svg" alt=""></div>
      <div class="foot_logo_sns">
        <a href="#"><img src="/img/sns_youtube.svg" alt=""></a>
        <a href="#"><img src="/img/sns_kakao.svg" alt=""></a>
        <a href="#"><img src="/img/sns_insta.svg" alt=""></a>
        <a href="#"><img src="/img/sns_band.svg" alt=""></a>
      </div>
    </div>
    <div class="foot_company">
      <h2>Company</h2>
      <ul>
        <li><img src="/img/foot_company_1.svg" alt="">회사명: 주식회사 좁은길</li>
        <li><img src="/img/foot_company_2.svg" alt="">대표: 박상돈</li>
        <li><img src="/img/foot_company_3.svg" alt="">주소: 경기 화성시 비봉면 청룡길 113-1 1층</li>
        <li><img src="/img/foot_company_4.svg" alt="">사업자번호: 192-86-02280</li>
        <li><img src="/img/foot_company_5.svg" alt="">통신판매업신고: 2021-고양일산동-2378호</li>
      </ul>
    </div>
    <div class="foot_contact">
      <h2>Comtact Us</h2>
      <ul>
        <li><img src="/img/foot_contact_1.svg" alt="">wall5060@naver.com</li>
        <li><img src="/img/foot_contact_2.svg" alt="">1644-4352</li>
        <li><img src="/img/foot_contact_3.svg" alt="">1644-4352</li>
      </ul>
    </div>
    <div class="foot_copy">
      <p>개인정보처리방침 ㅣ 이용약관</p>
      <p>Copyright ⓒ (주)좁은길 ALL RIGHT RESERVED.</p>
    </div>
  </div>
</footer>