<link rel="stylesheet" href="/css/common.css">
<header>
    <a href="/index.html">
        <div class="logoWrap"><img src="/img/logo.svg" alt=""></div>
    </a>
    <div class="menuWrap">
        <button class="hamburger" id="menuToggle">
            <span></span><span></span><span></span>
        </button>
        <div class="sidemenu">
            <ul class="menu">
                <li>
                    <a href="/index.html"><p>Home</p></a>
                </li>
                <li>
                    <a href="#"><p>About</p></a>
                    <div class="subemenu">
                        <a href="#"><p>회사소개</p></a>
                        <a href="#"><p>제품소개</p></a>
                        <a href="#"><p>메뉴소개</p></a>
                    </div>
                </li>
                <li>
                    <a href="#"><p>커뮤니티</p></a>
                    <div class="subemenu">
                        <a href="/notice.html"><p>공지사항</p></a>
                        <a href="#"><p>언론보도</p></a>
                        <a href="/faq.html"><p>자주묻는질문(FAQ)</p></a>
                        <a href="#"><p>머신사용설명</p></a>
                    </div>
                </li>
                <li>
                    <a href="/contact.html"><p>제품문의</p></a>
                </li>
                <li>
                    <a href="#"><p>Shop</p></a>
                </li>
            </ul>
        </div>
    </div>
</header>

